<div class="restaurant">
    111
    <% console.log(restaurant) %>
    <div><img src="/img/restaurants/<%= restaurant[0].image %>" alt=""></div>
    <h4><%= restaurant[0].name %></h4>
    <h4><%= restaurant[0].featured %></h4>
    <h4><%= restaurant[0].averageCost %></h4>
    <h4><%= restaurant[0].address %></h4>
    <h4><%= restaurant[0].promotion %></h4>
    <h4><%= restaurant[0].stars %></h4>
</div>